{% extends './base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<br>
<center>
<h1>¿Que es a SolarScan?</h1>
<br>
<p>
    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#QueesCollapse" aria-expanded="false" aria-controls="QueesCollapse">
      ¿Qué somos?
    </button>

    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#QuehacemosCollapse" aria-expanded="false" aria-controls="QuehacemosCollapse">
      ¿Qué hacemos?
    </button>

    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#comoCollapse" aria-expanded="false" aria-controls="comoCollapse">
      ¿Cómo lo hacemos?
    </button>
</p>
</center>

<div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="QueesCollapse">
      <div class="card card-body" style="width: auto;">
        <h2>¿Qué Somos?</h2>
        <p>SolarScan es un proyecto revolucionario de código abierto concebido por Miguel Ángel Rodríguez, con la audaz visión de transformar la industria de la energía solar. Nuestra plataforma emplea tecnología de vanguardia, combinando inteligencia artificial y análisis geoespacial de imágenes para brindar una herramienta poderosa a inversores, instaladores y desarrolladores de energía solar.</p>
        <p>Las posibilidades que ofrece SolarScan son amplias y emocionantes. Al procesar imágenes satelitales de alta resolución, SolarScan calcula la radiación solar en ubicaciones geográficas específicas con una precisión excepcional. Esto no solo permite identificar áreas con el máximo potencial de generación de energía solar, sino que también facilita la planificación de proyectos de energía solar de manera eficiente y rentable.</p>
        <p>Una de las ventajas más notables de SolarScan es su capacidad para optimizar el diseño de instalaciones solares. Gracias a algoritmos de aprendizaje automático, identifica áreas propensas al sombreado debido a obstáculos como edificios o árboles, lo que garantiza una producción óptima de energía solar.</p>
        <p>SolarScan no se detiene ahí. Integra datos climáticos y pronósticos en tiempo real, brindando información vital sobre las condiciones climáticas que podrían influir en la generación de energía solar. Además, ofrece informes detallados que incluyen datos de radiación solar, estimaciones de producción de energía y análisis de costos, lo que facilita la toma de decisiones financieras fundamentadas.</p>
        <p>En consonancia con nuestra filosofía de código abierto, SolarScan está comprometido con democratizar el desarrollo de proyectos de energía renovable. Al proporcionar una plataforma gratuita y abierta a la comunidad, pretendemos acelerar la adopción de energía solar más limpia y sostenible en todo el mundo.</p>
        <p>SolarScan representa un paso audaz hacia un futuro de energía más limpia, más eficiente y más accesible para todos.</p>
      </div>
    </div>
</div>
<div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="QuehacemosCollapse">
      <div class="card card-body" style="width: auto;">
        <h2>¿Qué hacemos?</h2>
        <p>SolarScan es un proyecto revolucionario de código abierto concebido por Miguel Ángel Rodríguez, con la audaz visión de transformar la industria de la energía solar. Nuestra plataforma emplea tecnología de vanguardia, combinando inteligencia artificial y análisis geoespacial de imágenes para brindar una herramienta poderosa a inversores, instaladores y desarrolladores de energía solar.</p>
        <p>Las posibilidades que ofrece SolarScan son amplias y emocionantes. Al procesar imágenes satelitales de alta resolución, SolarScan calcula la radiación solar en ubicaciones geográficas específicas con una precisión excepcional. Esto no solo permite identificar áreas con el máximo potencial de generación de energía solar, sino que también facilita la planificación de proyectos de energía solar de manera eficiente y rentable.</p>
        <p>Una de las ventajas más notables de SolarScan es su capacidad para optimizar el diseño de instalaciones solares. Gracias a algoritmos de aprendizaje automático, identifica áreas propensas al sombreado debido a obstáculos como edificios o árboles, lo que garantiza una producción óptima de energía solar.</p>
        <p>SolarScan no se detiene ahí. Integra datos climáticos y pronósticos en tiempo real, brindando información vital sobre las condiciones climáticas que podrían influir en la generación de energía solar. Además, ofrece informes detallados que incluyen datos de radiación solar, estimaciones de producción de energía y análisis de costos, lo que facilita la toma de decisiones financieras fundamentadas.</p>
        <p>En consonancia con nuestra filosofía de código abierto, SolarScan está comprometido con democratizar el desarrollo de proyectos de energía renovable. Al proporcionar una plataforma gratuita y abierta a la comunidad, pretendemos acelerar la adopción de energía solar más limpia y sostenible en todo el mundo.</p>
        <p>SolarScan representa un paso audaz hacia un futuro de energía más limpia, más eficiente y más accesible para todos.</p>
      </div>
    </div>
</div>
<div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="comoCollapse">
      <div class="card card-body" style="width: auto;">
        <h2>¿Como lo hacemos?</h2>
        <p>SolarScan es un proyecto revolucionario de código abierto concebido por Miguel Ángel Rodríguez, con la audaz visión de transformar la industria de la energía solar. Nuestra plataforma emplea tecnología de vanguardia, combinando inteligencia artificial y análisis geoespacial de imágenes para brindar una herramienta poderosa a inversores, instaladores y desarrolladores de energía solar.</p>
        <p>Las posibilidades que ofrece SolarScan son amplias y emocionantes. Al procesar imágenes satelitales de alta resolución, SolarScan calcula la radiación solar en ubicaciones geográficas específicas con una precisión excepcional. Esto no solo permite identificar áreas con el máximo potencial de generación de energía solar, sino que también facilita la planificación de proyectos de energía solar de manera eficiente y rentable.</p>
        <p>Una de las ventajas más notables de SolarScan es su capacidad para optimizar el diseño de instalaciones solares. Gracias a algoritmos de aprendizaje automático, identifica áreas propensas al sombreado debido a obstáculos como edificios o árboles, lo que garantiza una producción óptima de energía solar.</p>
        <p>SolarScan no se detiene ahí. Integra datos climáticos y pronósticos en tiempo real, brindando información vital sobre las condiciones climáticas que podrían influir en la generación de energía solar. Además, ofrece informes detallados que incluyen datos de radiación solar, estimaciones de producción de energía y análisis de costos, lo que facilita la toma de decisiones financieras fundamentadas.</p>
        <p>En consonancia con nuestra filosofía de código abierto, SolarScan está comprometido con democratizar el desarrollo de proyectos de energía renovable. Al proporcionar una plataforma gratuita y abierta a la comunidad, pretendemos acelerar la adopción de energía solar más limpia y sostenible en todo el mundo.</p>
        <p>SolarScan representa un paso audaz hacia un futuro de energía más limpia, más eficiente y más accesible para todos.</p>
      </div>
    </div>
</div>



  





<hr>

<center>
<p> Este es nuestro nivel de desarrollo</p>
<div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 25%">25%</div>
  </div>
</center>
  
{% endblock %}