{% extends './base.html' %}
{% block title %}Index{% endblock %}
{% block body %}
<br>
<center><h1>SolarScan</h1> 
<br>
<br>
En construcción 
<br>
<br>
<br>

<div class="spinner-border m-5" role="status">
    <span class="visually-hidden"></span>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="p-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-3">

  <h4>Una plataforma innovadora para identificación rápida y sencilla de proyectos de energía renovable.</h4>
  <h6>100% LIBRE Y DE CÓDIGO ABIERTO</h6>
</div>
</center>

<br>
<br>
<br>
<br>
<br>
<center><h1>¿Que hacemos?</h1></center>
<br>
<! Carrusel -->

<center>
<div id="carouselExampleSlidesOnly" class=" carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="static/Image/rad1.jpg" class="d-block w-50 p-3" alt="radiacion">
            <div class="carousel-caption d-none d-md-block">
                <h5>Radiacion en tiempo real</h5>
                <p>Atlas en tiempo real de radiación solar, Yield y GHI.</p>
            </div>    
        </div>
        <div class="carousel-item">
            <img src="static/Image/modis.png" class="d-block w-50" alt="modis">
        </div>
        <div class="carousel-item">
            <img src="static/Image/socioambiental.png" class="d-block w-50" alt="sociamb">
        </div>
    </div>
</div>
</center>

<! Tarjetas -->

<p>
    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">PVScan</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Potencializador de proyectos solares</h6>
                    <p class="card-text">PVScan es una herramienta que potencializa la identificación de proyectos de energía fotovoltaica, reduciendo hasta un 70% los tiempos de desarrollo.</p>
                    <a href="enlace_valido" class="card-link">Descargar Ahora</a>
                    <a href="enlace_valido" class="card-link">Aprende más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Interference</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Evalúa las interferencias sociales y ambientales de cualquier tipo de proyecto</h6>
                    <p class="card-text">Interference evalúa todas las capas ambientales y sociales para la evaluación socioambiental de cualquier tipo de proyecto de infraestructura.</p>
                    <a href="enlace_valido" class="card-link">Descargar Ahora</a>
                    <a href="enlace_valido" class="card-link">Aprende más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class "card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">RadScan</h5>
                    <h6 class="card-subtitle mb-2 text-muted">El Mapa de radiación en tiempo real más preciso</h6>
                    <p class="card-text">Evalúa la radiación Solar de cualquier zona, evaluando producción específica, nubosidad y GHI en tiempo real.</p>
                    <a href="enlace_valido" class="card-link">Descargar Ahora</a>
                    <a href="enlace_valido" class="card-link">Aprende más</a>
                </div>
            </div>
        </div>
    </div>
</p>

<br>
<center>
<h2>Support Resources</h2>
</center>
<br>
<p>
    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Documentación</h5>
                    <p class="card-text">Documentación extensiva se encuentra disponible en la página de la documentación de SolarScan.</p>
                    <a href="enlace_valido" class="card-link">Docs</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Soporte</h5>
                    <p class="card-text">Obtén soporte de nuestra comunidad en el Foro de Discusión de SolarScan.</p>
                    <a href="enlace_valido" class="card-link">Community</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Chat</h5>
                    <p class="card-text">Usuarios y desarrolladores están disponibles en el canal de chat #SolarScan en SolarScan Chat (en inglés).</p>
                    <a href="enlace_valido" class="card-link">Chat</a>
                </div>
            </div>
        </div>
    </div>
</p>

<footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="https://www.facebook.com"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="https://www.x.com"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #dd4b39;"
          href="https://www.google.com"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="https://www.instagram.com"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="https://www.github.com"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <p>&copy; 2023 SolarScan - Un proyecto sin fines de lucro y de código abierto creado por Miguel Ángel Rodríguez</p>
    </div>
    <!-- Copyright -->
  </footer>
{% endblock %}
